[submodule "engine/extern/googletest"]
	path = engine/extern/googletest
	url = https://github.com/google/googletest.git
[submodule "engine/extern/directXTK"]
	path = engine/extern/directXTK
	url = https://github.com/microsoft/DirectXTK.git
[submodule "engine/extern/directX-headers"]
	path = engine/extern/directX-headers
	url = https://github.com/microsoft/DirectX-Headers.git
